*{
    margin: 0;
    padding: 0
}
html, body{
    width: 100%;
    height: 100%;
    min-width: 1024px;
    min-height: 576px;
}
ul{
    list-style: none;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#wrap{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.bgImg{
    display: block;


    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.header{
    width: 100%;
    height: 70px;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    box-sizing: border-box;
    border-bottom: 1px #e5e5e5 solid;
}
.mainWrap{
    width: 100%;
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
}
.leftWrap{
    position: relative;
    flex: 1;
}
.timerBlock{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.disorganizeWrap{
    width: 100%;
    color: white;
    position: absolute;
    top: 20%;
    font-size: 22px;
    text-align: center;
}
.disorganizeWrap .disorganize{
    margin-top: 15px;
}
.showTime{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.once{
    color:red
}
.hold{
    color: green
}
.showTime>span{
    font-size: 140px;
    line-height: 140px;
}
.info{
    /*width: 100%;*/
    /*height: 20%;*/
    border-radius: 10px;
    padding: 12px;
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}

.disorganizePicBG{
    width: 280px;
    position: absolute;
    bottom:0;
    right:0;
}
.disorganizePicWrap{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .1);
    border: 10px solid transparent;
    border-radius: 10px;
    /*transform: translate(-50%, -50%);*/
}
.disorganizePicWrap>p{
    height: 0;
    padding-top: 75%;
}
.disorganizePic{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
}
.disorganizePic .inner{
    position: relative;
    width: 25%;
}
.disorganizePic .inner>p{
    height:0;
    padding-top: 100%;
}
.disorganizePic .cube{

    position: absolute;
    top:0;
    left:0;
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-wrap: wrap;
}
.disorganizePic ul{
    width: 100%;
    height:100%;
    box-sizing: border-box;
    padding: 1px;
}
.disorganizePic ul>li{
    width: 33.3333333333%;
    height: 33.3333333333%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5%;
}
.disorganizePic .upInner, .disorganizePic .downInner{
    margin: 0 50% 0 25%;
}
.upCenter{
    background: #FFFFFF;
}
.frontCenter{
    background: #00FF00;
}
.leftCenter{
    background: #ff5d00;
}
.rightCenter{
    background: #FF0000;
}
.backCenter{
    background: #0000FF;
}
.downCenter{
    background: #FFFF00;
}
.w{
    background: #FFFFFF;
}
.y{
    background: #FFFF00;
}
.g{
    background: #00FF00;
}
.b{
    background: #0000FF;
}
.o{
    background: #ff5d00;
}
.r{
    background: #FF0000;
}






.resultListControl{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    padding: 3px 0 3px 2px;
    font-weight: bold;
    border-radius: 3px 0 0 3px;
}
.resultListControl:hover{
    box-shadow: -4px -4px 10px -2px #666;
}
.resultListControl .text{
    width: 16px;
    line-height: 20px;
    font-size: 16px;
}
.resultListControl .icon{
    display: block;
    margin: auto;
    width: 15px;
    height: 23px;
    background-image: url("../img/arrows.png");
    background-position: -15px 0;
    background-repeat: no-repeat;
    background-size: 30px 23px;
    transition: 200ms;
}
.userBlock{
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
}
.userBlock .notLogin{
    display: flex;
}
.userBlock .notLogin div{
    padding: 3px 8px;
    background-color: white;
    border-radius: 8px;
    margin-right: 5px;
}
.loginAndRegister{
    display: none;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.loginAndRegister .title{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 23px;
    line-height: 40px;
    justify-content: center;
    background-color: chartreuse;
}
.loginAndRegister .title>div{
    padding: 0 8px;
}
.loginAndRegister .mainInterface{
    width: 100%;
}
.loginAndRegister .mainInterface>div{
    width: 100%;
    height: 100%;
}
.loginAndRegister .mainInterface .login .buttons{
    position: absolute;
    left: 0;
    bottom: 15px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 0 30px;
    font-size: 18px;
}
.loginAndRegister .mainInterface .login .buttons>div{
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    background-color: aqua;
    border-radius: 8px;
}
.loginAndRegister .mainInterface .register{
    display: none;
}


.rightWrap{
    width: 300px;
    transform: translateY(0px);
    transition: 200ms
}
.resultListWrap{
    width: 300px;
    height: 100%;
    color: white;
    border-left: 1px solid white;
    /*background: cyan;*/
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    /*position: absolute;*/
    /*top:0;*/
    /*right: 0;*/
}
.listTitle{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid grey;
}
.listClassify{
    display: flex;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px grey solid;
    justify-content: space-around;
}
.listClassify>div{
    width: 27%;
    text-align: center;
}
.listClassify>div:nth-child(1){
    width: 19%;
}
.listContent{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 25px;
    overflow-y: scroll;
}
.listContent::-webkit-scrollbar{
    width: 0;
}
.tip{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.removeAll{
    height: 25px;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid grey;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.removeAll:hover{
    background-color: red;
}
.resultList{
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    /*height: 100%;*/
    text-align: center;
    list-style: none;
}
.itemMain{
    display: flex;
}
.resultItem:nth-child(2n){
    background-color: rgba(80, 80, 80, 0.3);
}
.resultItem>div{
    height: 30px;
    line-height: 30px;
}
.serial{
    width: 20%
}
.time, .avg5, .avg12{
    width: 27%;
}
.resultItem>.disorganizeText{
    width: 200%;
    height: 45px;
    transform: scale(0.5);
    transform-origin: 0 0;
    font-size: 22px;
    text-align: center;
}
.deleteOne{
    width: 100%;
    text-align: right;
    height: 60px;
    line-height: 60px;
}
.deleteOne>div{
    float: right;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 5px;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    line-height: 50px;
}
.deleteOne>div:hover{
    background: red;
}
.hide{
    display: none;
}